@model BottomsUp.Core.Models.DTOs.ProposalDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container prop-info-container">
    <h2>@Model.Name - Details <span>(Id: @Model.Id)</span></h2>
    <div class="proposal-information">
        <div class="row">
            <table id="task-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Description</th>
                        <th>Number</th>
                        <th>Volume</th>
                        <th>Percentage</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>

            </table>
        </div>
    </div>
</div>


<div class="container prop">
    <h2>PWS Requirements</h2>
    <ul class="pws-tasks">
        @foreach (var req in Model.Requirements)
        {
            <li data-id="@req.Id" class="pws-task-item">
                <div class="row">
                    <div class="col-xs-1">
                        <div class="pws-number">@req.PWSNumber</div>
                    </div>
                    <div class="col-xs-10">
                        <div class="pws-description">
                            @req.Description
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="pws-total-monthly-hours">
                            <span>@string.Format("{0:N2}", req.TotalHours)</span> hrs
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>


<script id="mustache-template" type="text/template">
    {{#rows}}
    <tr class="">
        <td><span class="glyphicon glyphicon-minus" aria-hidden="true"></td>
        <td>{{Description}}</td>
        <td>{{Number}}</td>
        <td>{{Volue}}</td>
        <td>{{Percentage}}</td>
        <td>{{Comments}}</td>
    </tr>
    {{/rows}}

    <tr class="">
        <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
</script>