<!DOCTYPE html>
<html ng-app="bottomsUp">
@using StackExchange.Profiling;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bottoms Up: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/styles")
    @Styles.Render("~/content/toastr")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/toastr")


    @RenderSection("scripts", required: false)
    @*@MiniProfiler.RenderIncludes()*@


</body>
</html>
